.container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
}

.container div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}