.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 140, 169);
  min-height: 100vh;
  flex-direction: column;
}

.text {
  
}


.images-div-hidden {
  opacity: 0;
}
.images-div-show {
  color: white; 
}